@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>TO DO:</h2>
    <h3>Make image upload only accept one file</h3>
    <h3>Make image upload accept more than only one file format</h3>
    <h3>Continue adding handlers and checkboxes to handle the logic to perform on the image</h3>
</div>

<form asp-action="UploadImage" 
      asp-controller="Home" 
      method="post" 
      enctype="multipart/form-data">
    <input type="file" id="file1" 
           name="file1" 
           multiple="multiple" />
    <button type="submit">Upload File(s)</button>
</form>


<div>@ViewBag.ImageTitle</div>
<img src=@ViewBag.ImageDataUrl >